/* ContentCards.module.css */

.container {
  width: 750px;
}

.anchorPadding {
  margin: 20px 0px;
}

.anchorStyle {
  background-color: rgb(221, 220, 228);
}
.part1contentSection {
  /* border-width: 2px;
  border-color: rgb(34, 250, 124);
  border-style: dashed; */
  width: 100%;
  height: 50vh;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100;
}

.contentSection {
  /* border-width: 2px;
  border-color: rgb(37, 74, 194);
  border-style: dashed; */
  width: 100%;
  height: 120vh;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  font-size: 100;
}

.part1Background {
  background: rgb(219, 217, 217);
}

.part2Background {
  background: rgba(0, 0, 255, 0.02);
}

.part3Background {
  background: rgb(219, 217, 217);
}

.contentContainer {
  width: 750px;
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}