/* ContentCards.module.css */

.container {
  width: 900px;
  background-color: #f8f8f8;
  padding: 0px 50px;
  
}

/* In your CSS file or styled-components */
:global(.ant-anchor-link-title) {
  font-size: 20px !important;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif !important;
}

/* :global(.ant-anchor-horizontal .ant-anchor-link-title) {
  font-size: 24px !important;
} */

.anchorPadding {
  /* border-width: 2px;
  border-color: rgb(174, 34, 250);
  border-style: dashed; */
  margin-top: 40px;
}

.anchorStyle {
  background-color: #e6f4ff;
}
.part1contentSection {
  /* border-width: 2px;
  border-color: rgb(34, 250, 124);
  border-style: dashed; */
  width: 95%;
  text-align: justify;
  font-family: "times new roman", Times, serif;
  font-size: 20px;
  padding-top: 60px;
}

.contentSection {
  /* border-width: 2px;
  border-color: rgb(37, 74, 194);
  border-style: dashed; */

  width: 95%;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.contentContainer {
  width: 900px;
  /* border-width: 2px;
  border-color: black;
  border-style: dashed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
