.experienceMain {
  /* border-width: 2px;
  border-color: rgb(34, 250, 124);
  border-style: dashed; */
  margin-top: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experienceTitle {
  /* border-width: 2px;
    border-color: rgb(219, 255, 14);
    border-style: dashed; */
  text-align: center;
  margin-bottom: 24px;
  font-size: 50px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.experienceCompany {
  text-align: center;
  margin: 10px 0px;
}

.experiencePhoto {
  /* border-width: 2px;
    border-color: rgb(24, 51, 255);
    border-style: dashed; */
  width: 200px;
  align-items: center;
}

.experienceContriCard {
  /* border-width: 2px;
  border-color: rgb(255, 24, 105);
  border-style: dashed; */
  width: 100%;
  font-size: 24px;
  margin: 24px 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.experienceTags {
  /* border-width: 2px;
  border-color: rgb(255, 24, 105);
  border-style: dashed; */
  margin-top: 0px;
  width: 100%;
}

.highlight {
  /* color: #96c4f1; */
  color: #268bf0;
}

.tagsMain {
  margin-top: 10px;
}

:global(.ant-tag) {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 8px;
}
