/* In your CSS Module file */
.timelineContainer :global(.ant-timeline-item-content) {
  font-size: 24px !important;
  font-family: "times new roman", Times, serif !important;
  color: #333 !important;
  line-height: 1 !important;
}

.timelineContainer :global(.ant-timeline-item-label) {
  font-size: 24px !important;
  font-family: "times new roman", Times, serif !important;
  color: #000000 !important;
  line-height: 1 !important;
}

.timelineContainer {
  /* border-width: 2px;
  border-color: rgb(34, 250, 124);
  border-style: dashed; */
  width: 1200px;
  justify-content: left;
  text-align: left;
  translate: -250px;
}
